.gg-hero {
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: .5rem solid #e6e6e6;
    color: #fff
}

.gg-hero .usa-card-group {
    bottom: 160px
}

.gg-img {
    margin: 0 auto;
    width: 1920px
}

.gg-hero-height-sm {
    height: 250px
}

.gg-hero-height-md {
    height: 330px
}

.gg-hero-height-lg {
    height: 500px
}