.usa-header--extended .usa-navbar[data-v-90faa6ca],
.usa-nav__inner[data-v-90faa6ca] {
    max-width: 100%
}

.usa-nav__primary>.usa-nav__primary-item>a[data-v-90faa6ca] {
    color: #565c65;
    display: block
}

.usa-nav__primary button[data-v-90faa6ca],
.usa-nav__primary>.usa-nav__primary-item>a[data-v-90faa6ca] {
    font-size: 1rem;
    font-weight: 700;
    line-height: .9;
    padding: 1rem .5rem
}

.usa-nav__primary button[aria-expanded=false] span[data-v-90faa6ca]:after {
    right: .5rem
}

.usa-nav__primary .usa-accordion__button span[data-v-90faa6ca] {
    margin-right: 0;
    padding-right: 1.4rem
}

.usa-header--extended .usa-nav__primary-item>.usa-current[data-v-90faa6ca]:after,
.usa-header--extended .usa-nav__primary-item>.usa-nav__link[data-v-90faa6ca]:hover:after {
    left: 0;
    right: 0
}

@media (min-width:64em) {
    ul li.usa-nav__secondary-item.gg-desktop-display-none[data-v-90faa6ca] {
        display: none
    }
    .usa-nav__secondary-links .usa-nav__secondary-item.gg-desktop-display-none.usa-nav__secondary-item+.usa-nav__secondary-item[data-v-90faa6ca]:before {
        content: ""
    }
}

.no-underline[data-v-90faa6ca] {
    cursor: default
}

.no-underline[data-v-90faa6ca]:hover {
    text-decoration: none !important
}