.gg-tile-block[data-v-51a81947] {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    overflow: hidden
}

.gg-tile-block>div[data-v-51a81947] {
    cursor: pointer;
    height: 40rem
}

.gg-tile-block>div[data-v-51a81947]:hover {
    cursor: pointer
}

.gg-tile-block .gg-tile-text[data-v-51a81947] {
    overflow: hidden
}